body {
    background-color: #f5f5f5;
    font-family: "Roboto", sans-serif;
    margin: 0;
  }
  
  .productos-container {
    text-align: center;
    margin: 30px auto;
  }
  
  .home-container h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  .animated-title {
    font-size: 2rem;
    animation: slideInLeft 1s ease;
  }
  
  .animated-subtitle {
    animation: slideInRight 1.2s ease;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    animation: fadeIn 1.5s ease;
  }
  
  @media (max-width: 768px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  
  .product-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    animation: zoomIn 0.8s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease, rotate 0.3s ease;
  }
  
  .product-card:hover {
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
  
  .product-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
  }
  
  .product-image img:hover {
    transform: scale(1.1);
  }
  
  .product-card h3 {
    font-size: 16px;
    color: #333;
  }
  
  .product-card p {
    font-size: 14px;
    color: #666;
  }
  
  .product-card .precio {
    font-weight: bold;
    color: #edbd82;
  }
  
  .product-card button {
    padding: 10px 15px;
    background-color: #ffa726;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .product-card button:hover {
    background-color: #fb8c00;
    transform: scale(1.05);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }